<mat-toolbar color="primary">
 
     <div></div>
       <a class="title" mat-button routerLink="/">Wayfarer</a>
       <div style="margin:5%;">
            <mat-form-field appearance="fill" >
                <mat-label>Cities</mat-label>
                <!-- <a *ngFor="let city of cities" routerLink="/Cities/{{city.id}}">{{city.name}}</a> -->
                <mat-select (selectionChange)="onChange($event)" >
                    <mat-option *ngFor="let city of citiesList;let i = index;" [value]="i +1">{{city}}</mat-option>
                    <!-- <a routerLink="/cities/{{" -->
                    <!-- <p *ngFor="let city of cities">Test{{city.id}}</p> -->
                </mat-select>
   
            </mat-form-field>
          
           
       </div>
    
       <div class="spacer"> </div>
       <app-search></app-search>
    
</mat-toolbar>