.mat-toolbar{
    background-color: cornflowerblue;
    color: white;
}

.mat-button {
    color: white;
}
.title {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.spacer {
   margin-left: auto;
}

.searchbar {
    position: absolute;
    top: 20px;
    right: 2%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 40px;
}

#navbarDropdown {
    font-size: 20px;
}

.dropdown-item {
    cursor: pointer;
}


@media screen and (min-width: 360px) and (max-width: 799px) {
    .title {font-size: 20px}
    mat-form-field { width: 200px; height: 100px;}
    .searchbar { visibility: hidden;}
}