.mat-toolbar{
    background-color: cornflowerblue;
    color: white;
}

.mat-button {
    color: white;
}
.title {
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.spacer {
   margin-left: auto;
}