
 <body>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img/san-francisco/san-francisco1-pexels-pixabay-208745.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/san-francisco/san-francisco2-pexels-pixabay-258447.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/london/london1-pexels-chris-schippers-427679.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/london/london2-pexels-pixabay-460672.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/gibraltar/gibraltar2-pexels-martin-magnemyr-5101563.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/gibraltar/ryan-favinger-W6036AvJ8tk-unsplash.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../../assets/img/sydney/dan-freeman-7Zb7kUyQg1E-unsplash.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </body> 