<p>post works!</p>


<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h5 class="card-title">Dark card title</h5>
      <p class="card-text">
          
        Some quick example text to build on the card title and make up the bulk of the
        card's content.
      </p>
      <p>{{post.title}}</p>
<p>{{post.author}}</p>
<p>{{post.date}}</p>
<p>{{post.body}}</p>
    </div>
  </div>



<!-- instead of having an array you are pulling from another componet -->
