<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen-lg-down" class="modal-dialog modal-xl">
    <div class="modal-content">
      <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      <div class="modal-header">
        <h1 class="title" id="exampleModalLabel">{{post.title}}</h1>
      </div>
      
      <div class="post-info">
          <img src="https://api.minimalavatars.com/avatar/{{post.author}}/png" alt="avatar" class="user-avatar">
          <h3 class="author">{{post.author}}</h3>
          <h3 class="date">{{post.date}}</h3>
      </div>

      <hr>
      <div class="modal-body">
        <p class="body">{{post.body}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>





<!-- <div class="post">
  <h1 class="title">{{citypost.title}}</h1>
  <div class="post-info">
    <img src="{{citypost.avatar}}" alt="avatar" class="user-avatar">
    <h3 class="author">{{citypost.author}}</h3>
    <h3 class="date">{{citypost.date}}</h3>
  </div>
  <img class="city-image" src="{{city.img}}" alt="city-image">
  <p class="body">{{citypost.body}}</p>
</div> -->

<!-- 
<div class="post">
  <p>{{post.title}}</p>
  <p>{{post.author}}</p>
  <p>{{post.date}}</p>
  <p>{{post.body}}</p>
</div> -->
<!-- <form class="post" [formGroup]="form">
 #postForm="ngForm">
   {{form.value | json}}
  <hr />
   <h1>{{date}}</h1> 


  <!-- <div class="mb-2">
    <label for="title" class="form-label">Title</label>
    <input  formControlName="title" type="text" class="form-control" id="title" placeholder="Title">
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input  formControlName="author" type="text" id="author" placeholder="Author">
  </div>
  <div class="mb-3">
    <label  for="date" class="form-label">{{date}}</label>

     <input ngModel name="date" type="" class="form-control" id="date" placeholder="06/19/1865"> 
  </div>

  <div class="mb-3">
    <label for="body" class="form-label">Share your story</label>
    <textarea  formControlName="body" class="form-control" id="body" rows="3"></textarea>
  </div>


<button  type="button" class="btn btn-primary"  (click)="onSubmit()">Submit</button>
 when button is click it submits its new object -->


<!-- </form>
 -->

<!-- instead of having an array you are pulling from another componet -->
<!-- <div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{post.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{post.body}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      <!-- </div>
    </div>
  </div>
</div> -->




