<!-- <h1>Create a post</h1>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="createPostModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <form class="post" [formGroup]="form">
            <!-- #postForm="ngForm"> -->
              {{form.value | json}}
              <hr />
              <!-- <h1>{{date}}</h1> -->
            
              <div class="mb-2">
                <label for="title" class="form-label">Title</label>
                <input  formControlName="title" type="text" class="form-control" id="title" placeholder="Title">
              </div>
              <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input  formControlName="author" type="text" id="author" placeholder="Author">
              </div>
              <div class="mb-3">
                <label  for="date" class="form-label">{{date}}</label>
                <!-- <input ngModel name="date" type="" class="form-control" id="date" placeholder="06/19/1865"> -->
              </div>
              <div class="mb-3">
                <label for="body" class="form-label">Share your story</label>
                <textarea  formControlName="body" class="form-control" id="body" rows="3"></textarea>
              </div>
            <button  type="button" class="btn btn-primary"  (click)="onSubmit()">Submit</button>
            <!-- when button is click it submits its new object -->
            
            </form>
          </div>
        </div>
      </div>    
    
    
    <!-- instead of having an array you are pulling from another componet -->
    