<body>
    <div class="city-info">
        <div class="city-name">
            <h1>{{city.name}}</h1>
            <p>{{city.country}}</p>
        </div>
        <div class="city-image">
            <img src={{city.img}} alt="image">
        </div>
        <div *ngIf=weather class="city-weather">
            <h2>Weather</h2>
            <img src="http://openweathermap.org/img/wn/{{weather.weather[0].icon}}@2x.png" alt="weather-icon">
            <h3>{{weather.weather[0].description}}</h3>
            <h4>{{weather.main.temp}} F</h4>
            <p>Max: {{weather.main.temp_max}} F</p>
            <p>Min: {{weather.main.temp_min}} F</p>
        </div>
    </div>
  
    <div  class="city-posts">
            <div *ngFor="let post of sortPosts;let j = index;" class="post">
                 <!-- Returns image based on author's name -->
                 <img class="post-image" src="https://api.minimalavatars.com/avatar/{{post.author}}/png" alt="image">
                <div class="post-info">
                    <!-- if statement to print the specific post infromation -->
                    <a routerLink="post/{{post.id}}" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                       <h2>{{post.title}}</h2>
                    </a>
                    <h4>{{post.date}}</h4>
                    <p>

                       {{post.body}}  <!-- showing only post works in when called not showing other information -->
                    

                    </p>
                    
                </div>
            </div>
    </div>
    <div class="post-entry">
        <app-form></app-form>
        <h1>Create a post</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">
          New Post
        </button>
    </div>
    
</body>

<router-outlet></router-outlet>

