/* .cities{
    list-style-type: none; 

} */

body {
    display: block;
    /* flex-wrap: wrap;
    flex-direction: column; */
}
.city-info {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    width: 80%;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 1500px;
    min-width: 250px;

}
@media screen and (max-width: 1000px){
    .city-info{
        flex-wrap: wrap;
    }
}
.city-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    align-self: center;
}
.city-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.city-weather p {
    font-size:x-small;
}

.city-image img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    min-width: 200px;
    height: auto;
}

.post-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.post {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    height: 120px;
    justify-content:center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 1500px;
    
}
.post-info {
    max-height: 120px;
    text-align: left;
    padding: 10px;
}

.post-info h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    margin: 0%;
  }
.post-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
}
a {
    text-decoration: none;
}
