/* .cities{
    list-style-type: none; 

} */
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.city-info {
    display: flex;
    width: 80%;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;

}
.city-name {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    align-items: center;
}
.city-weather{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.city-image img {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    height: auto;
    padding: 5%;
}

.post-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 100px;
}

.post {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    height: 120px;
    justify-content:center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    
}
.post-info {
    max-height: 120px;
    text-align: left;
    padding: 10px;
}

.post-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
}
a {
    text-decoration: none;
}

