<div class="md-form">
    <input type="search" [(ngModel)]="searchText" placeholder="Search">
    <div *ngIf="searchText != ''">
        <!-- <mat-select (selectionChange)="onChange($event)" > -->
            <mat-option *ngFor="let data of cityList | filter: searchText" >{{data}}</mat-option>
            <!-- <mat-option *ngFor="let data of cityList; let i = index" >{{data.name}}</mat-option> -->
        <!-- </mat-select> -->
    </div>
  </div>
  <!-- <ul *ngFor="let data of dataset | filter: searchText">
    <li *ngIf="searchText != ''">{{data}}</li>
   
  </ul>
   -->
  
